//Mixins
@mixin large-text{
    font-family: Arial;
    size: 30px;
    font-weight: bold;
}

@mixin my-border($color,$width){
    border-color:$color;
    border-width: $width;
    border-style: solid;
    
}
p{
    @include my-border(red,2px )
}

